<select (change)="onChange($event.target.value)">
  <option value="allKegs" selected="selected">All Kegs</option>
  <option value="10Kegs">Kegs below 10</option>
</select>
<br>
<br>
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Brand</th>
      <th scope="col">Price</th>
      <th scope="col">Alcohol</th>
      <th scope="col">Pints</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <tr [class]="alcoholColor(selectedKeg)" *ngFor="let selectedKeg of childKegList | pintcounter:filterByPints">
      <td>{{selectedKeg.name}}</td>
      <td>{{selectedKeg.brand}}</td>
      <td [class]="priceColor(selectedKeg)">${{selectedKeg.price}}</td>
      <td>{{selectedKeg.alcoholContent}}%</td>
      <td>{{selectedKeg.pint}}</td>
      <td><button class="btn btn-light" (click)="sellOnePint(selectedKeg)">Sell Pint</button></td>
      <td><button class="btn btn-light" (click)="editButtonClicked(selectedKeg)">Edit!</button></td>
    </tr>
  </tbody>
</table>
