<h1>Available kegs</h1>
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Brand</th>
      <th scope="col">Price</th>
      <th scope="col">Alcohol</th>
      <th scope="col">Pints</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let keg of kegList">
      <td>{{keg.name}}</td>
      <td>{{keg.brand}}</td>
      <td>${{keg.price}}</td>
      <td>{{keg.alcoholContent}}%</td>
      <td>{{keg.pint}} <button class="btn btn-light">Sell One</button></td>

    </tr>
  </tbody>
</table>
