<div class="new-keg">

  <div class="new-keg-form-button">
    <button class="btn btn-dark" (click)="addKegClicked()">Add keg</button>
  </div>

  <div class="new-keg-form" *ngIf = "childAddKegClicked">
    <h1>Add new keg</h1>
    <div>
      <label for="name">Enter name:</label>
      <input #newName id="name">
    </div>
    <div>
      <label for="brand">Enter brand:</label>
      <input #newBrand id="brand">
    </div>
    <div>
      <label for="price">Enter price:</label>
      <input #newPrice id="price">
    </div>
    <div>
      <label for="alcohol">Enter alcohol percentage:</label>
      <input #newAlcoholContent id="alcohol">
    </div>
    <div class="new-keg-form-button">
      <button class="btn btn-dark" (click)="submitForm(newName.value, newBrand.value, newPrice.value, newAlcoholContent.value); newName.value = ''; newBrand.value = ''; newPrice.value = ''; newAlcoholContent.value = '';">Save</button>
    </div>
  </div>




</div>
